.analytics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .analytics-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  