.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
    height: 100%;
}

.img {
    width: 113px;
    height: 121px;
}

.earned {
    color: white;
    background-color: #189A46;
    border-radius: 5px;
    width: 144px;
    font-size: 12px;
    line-height: 23px;
    height: 23px;
}

.points {
    color: #189A46;
    font-weight: 500;
}

.home {
    display: block;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    width: 131px;
    height: 36px;
    text-decoration: none;
    color: black;
    line-height: 36px;
    vertical-align: middle;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}