.container {
    padding: 50px 16px 0;
    height: 100%;
    box-sizing: border-box;
}

.title {
    margin: 70px auto;
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #222B28;
}

.input {
    display: block;
    width: 100%;
    height: 36px;
    border-radius: 10px;
    border: 1.5px solid #384742;
    color: #708F85;
    font-size: 16px;
    font-weight: 500;
    text-indent: 15px;
    margin: 0 auto;
}

.img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #222B28;
    display: block;
    margin: 0 auto 20px;
}

.skip {
    color: #708F85;
    font-size: 14px;
    line-height: 21px;
    display: block;
    margin: 0 auto;
}
.nextBack{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 46px;
    background-repeat: no-repeat;
    background-position: top 11px left 18px;
    border: none;
    box-shadow: 0px 4px 3px 0px #222b28a9;
}
.next{
    background-image: url(../../Images/next.svg);
    background-color: #189A46;
    right: 16px;
}
.back{
    background-image: url(../../Images/next.svg);
    background-color: black;
    left: 16px;
    transform: scaleX(-1);
}
.submit{
    border-radius: 10px;
    display: block;
    position: absolute;
    bottom: 46px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #189A46;
    box-sizing: border-box;
    padding: 0 10px;
    width: fit-content;
    height: 45px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 3px 0px #222b28a9;
}
.genders {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputError{
    color: red;
    display: block;
    text-align: start;
    font-size: 14px;
}

#logo
{
    background-image: url("../../Images/logo.png");
    display: block;
    width: 150px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.pictureButton{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; 
}
.successMessage {
    background-color: #189A46;
   color: white;
  padding: 10px;
   border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }